$slate : #C6D8D3;
$bluey : #96ADC8;
$mauve : #BA9593;

.box {
  background: $slate;
  border: 3px solid white;
  padding: 40px 80px;
  color: $mauve;
  .button {
    font-weight: bold;
    text-align: center;
    background: $bluey;
    color: white;
  }
}

.jumbotron {
  background: $bluey;
  color: white;
  text-align: center;
}
